# .gitignore for KiCad project

# KiCad backups and caches
*.kicad_sch-bak
*.kicad_pcb-bak
*-bak
_autosave-*
*.lck
*.tmp
fp-info-cache
*.kicad_prl

# Python
__pycache__/
*.pyc

# OS
Thumbs.db
Desktop.ini

session/
